@font-face {
    font-family: 'aemstelregular';
    src: url('../fonts/aemstel-regular-webfont.woff2') format('woff2'),
         url('../fonts/aemstel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img, object, video 
{
  max-width: 100%; 
}

body 
{
  font-family: Arial, sans-serif;
  color: #000;
  background: rgb(184,66,66);
  background: linear-gradient(180deg, rgba(184,66,66,1) 0%, rgba(255,255,255,0) 100%);
}

.hidden
{
	display: none;
}

#container
{
	max-width: 1200px;
/*	background-color: #0F0E15;*/
	margin-bottom: 50px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
}

#mainHeader
{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#mainHeader img
{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media and screen (min-width: 907px)
{
  #mainheader img
  {
    width: 4%;
    margin: 20px;
    margin-right: auto;
  }
}

#mainHeader img:hover
{
  transform: scale(1.20);
  transition: transform .25s ease;
}

.mainNav
{
  margin-top: 20px;
  text-align: center;
  font-family: Arial;
  margin-left: auto;
  height: 75px;
  margin-right: 20px;
}

.mainNav li
{
  display: inline-block;
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 30px;
}

.mainNav li a
{
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.mainNav a:hover 
{
  background-color: #000;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 3px;
}

@media screen and (max-width: 907px) {

  .mainNav 
  {
    display: none;
  }

}

.splitter
{
  margin-top: 20px;
  height: 5px;
  background-color: #B84242;
  margin-bottom: 25px;
}

.intro
{
  margin-bottom: 25px;
}

.intro h2, .aboutText
{
  font-size: 60px;
  font-family: aemstelregular;
  text-align: center;
  margin-top: 50px;
  color: #000;
}

@media screen and (max-width: 749px) {

  .intro h2
  {
    font-size: 45px;
  }

}

.intro img
{
  height: auto;
  width: 100%;
}

.intro p
{
  font-family: aemstelregular;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 907px) {

  .intro p
  {
    font-size: 20px;
  }
}


.galleryTop
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/*.galleryBottom
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
*/
/*.image3
{
  height: 250px;
  width: 500px;
  background-color: #000;
  margin-right: 5px;
}

.image4
{
  height: 250px;
  width: 500px;
  background-color: #000;
  margin-left: 5px;
}*/

.learning
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.caseAnimation
{
  margin-right: 45px;
}

.bottle, .caseAnimation
{
  height: 250px;
  width: 100%;
  padding: 10px;
}

.bottle:hover, .caseAnimation:hover
{
  transform: scale(.95);
  transition: transform .25s ease;
  border-radius: 10px;
}

@media screen and (max-width: 907px) {

  .galleryTop
  {
    display: block;
    margin: 0 auto;
  }

  .bottle
  {
    margin-bottom: 20px;
  }

  .caseAnimation
  {
    margin-bottom: 50px;
  }

}


/*button*/

.learning
{
  padding-bottom: 150px;
}

.learning button
{
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: aemstelregular;
  font-size: 70px;

}

.learning button:hover
{
  transform: scale(0.97);
  transition: transform .3s ease;
  cursor: pointer;
}

.modal
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%; 
}

.modal.active
{
  transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header
{
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button
{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body
{
  padding: 10px 15px;
  text-align: center;
  line-height: 25px;
}

#overlay
{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active
{
  opacity: 1;
  pointer-events: all;
}


/*About Page*/

.about img
{
  height: 550px;
  width: 100%;
}

/*.about h2
{
  position: absolute; 
  top: 42%; 
  width: 85%; 
  text-align: center;
}*/

.about p
{
  font-family: aemstelregular;
  font-size: 20px;
  margin-right: 300px;
  margin-left: 300px;
  line-height: 35px;
  margin-bottom: 50px;
  text-align: center;
}

.middle
{

}