@font-face {
    font-family: 'aemstelregular';
    src: url('../fonts/aemstel-regular-webfont.woff2') format('woff2'),
         url('../fonts/aemstel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img, object, video 
{
  max-width: 100%; 
}

body 
{
  font-family: Arial, sans-serif;
  color: #000;
  background: rgb(184,66,66);
  background: linear-gradient(180deg, rgba(184,66,66,1) 0%, rgba(255,255,255,0) 100%);
}

.hidden
{
	display: none;
}

#container
{
	max-width: 1200px;
/*	background-color: #0F0E15;*/
	margin-bottom: 50px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
}

#mainHeader
{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#mainHeader img
{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media and screen (min-width: 907px)
{
  #mainheader img
  {
    width: 4%;
    margin: 20px;
    margin-right: auto;
  }
}

#mainHeader img:hover
{
  transform: scale(1.20);
  transition: transform .25s ease;
}

.mainNav
{
  margin-top: 20px;
  text-align: center;
  font-family: Arial;
  margin-left: auto;
  height: 75px;
  margin-right: 20px;
  font-weight: bolder;
}

.mainNav li
{
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 30px;
}

.mainNav li a
{
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.mainNav a:hover 
{
  background-color: #000;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 3px;
}

@media screen and (max-width: 906px) {

  .mainNav 
  {
    display: none;
  }

}

/*button start*/

.menuNav
{
  display: flex;
  margin-right: auto;
  margin-top: 25px;
}

.menuNav button
{
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: aemstelregular;
  font-size: 25px;
}

.menuNav button:hover
{
  transform: scale(0.97);
  transition: transform .3s ease;
  cursor: pointer;
}

.modal
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%; 
}

.modal.active
{
  transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header
{
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button
{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body ul
{
  list-style-type: none;
}

.modal-body ul li 
{
  padding: 10px 15px;
  text-align: center;
  line-height: 25px;
}

.modal-body ul li a 
{
  text-decoration: none;
  color: #000;
}

.menuNav a:hover 
{
  background-color: #000;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 3px;
}

#overlay
{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active
{
  opacity: 1;
  pointer-events: all;
}

/*button end*/

.splitter
{
  margin-top: 20px;
  height: 5px;
  background-color: #B84242;
  margin-bottom: 25px;
}

.intro
{
  margin-bottom: 25px;
}

.intro h2, .aboutText, .contactTop h2
{
  font-size: 60px;
  font-family: aemstelregular;
  text-align: center;
  margin-top: 50px;
  color: #000;
}

@media screen and (min-width: 907px) {

  .menuNav
  {
    display: none;
  }

}

@media screen and (max-width: 749px) {

  .intro h2
  {
    font-size: 45px;
  }

}

.intro img, .about img, .adverts img
{
  height: auto;
  width: 100%;
}

.intro p
{
  font-family: aemstelregular;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 907px) {

  .intro p
  {
    font-size: 20px;
  }
}

.galleryTop
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.learning
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.caseAnimation
{
  margin-right: 45px;
}

.bottle, .caseAnimation
{
  height: 250px;
  width: 100%;
}

.bottle:hover, .caseAnimation:hover
{
  transform: scale(.95);
  transition: transform .25s ease;
  border-radius: 10px;
}

@media screen and (max-width: 907px) {

  .galleryTop
  {
    display: block;
    margin: 0 auto;
  }

  .bottle
  {
    margin-bottom: 20px;
  }

  .caseAnimation
  {
    margin-bottom: 50px;
  }

}

#bottomSection
{
  text-align:center;
  margin: 0 auto;
  display: block;
  width:500px;
  height:125px;
  padding-bottom: 100px;
}

#reveal
{
  background: #fff;
  display: none;
}

#reveal p
{
  font-family: aemstelregular;
  font-size: 15px;
  line-height: 25px;
}

.learningText
{
  display: block;
  text-decoration: none;
  font-size: 45px;
  font-family: aemstelregular;
  text-align: center;
  color: #000;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  margin-bottom: 15px;
 
}

.learningText:hover
{
  transform: scale(0.97);
  transition: transform .3s ease;
  cursor: pointer;
}

/*About Page*/

/*.about img
{
  height: 550px;
  width: 100%;
}*/

/*.about h2
{
  position: absolute; 
  top: 42%; 
  width: 85%; 
  text-align: center;
}*/

.about p
{
  font-family: aemstelregular;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 50px;
  line-height: 35px;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 907px) {

  .about p
  {
    font-size: 15px;
  }

}

.middle
{
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 350px;
}

.middle img
{
  height: 50%;
  width: 50%;
  border-radius: 1000px;
}

@media screen and (max-width: 907px) {

  .middle
  {
    margin-top: 175px;
  }

  .middle img
  {
    height: 25%;
    width: 25%;
  }

}

.topText
{
  font-family: aemstelregular;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 907px) {

  .topText
  {
    margin-top: 10px;
    font-size: 15px;
  }

}

.bottomAbout
{
  display: flex;
  margin-top: 350px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 100px;
}

.bottomText
{
  font-family: aemstelregular;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 907px) {

  .bottomAbout
  {
    margin-top: 100px;
  }

  .bottomText
  {
    font-size: 15px;
  }

}

/*Contact*/

.contactTop p
{
  font-family: aemstelregular;
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

@media screen and (min-width: 907px) {

  .contactTop p
  {
    font-size: 20px;
  }

}

@media screen and (max-width: 616px) {

  .contactTop h2
  {
    font-size: 45px; 
  }

}

.bottomSplitter
{
   margin-top: 20px;
  height: 5px;
  background-color: #B84242;
  margin-bottom: 25px;
}

.contactForm
{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  margin-bottom: 75px;
}

.contactForm h3
{
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  font-family: aemstelregular; 
}

@media screen and (max-width: 616px) {

  .contactForm h3
  {
    font-size: 25px;
  }

}

.text
{
  display: flex;
  margin-left: 20px;
  font-size: 15px;
  color: #fff;
  flex-direction: column;
}

.contactForm .inputBox
{
  position: relative;
  width: 100%;
}

.inputBox
{
  text-align: center;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 30px 0;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  resize: none;
}

.contactForm .inputBox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #BE2217;
  font-size: 12px;
  transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]
{
  font-family: aemstelregular;
  width: 200px;
  background: #BE2217;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.inputBox input:hover
{
  transform: scale(.95);
  transition: transform .25s ease;
}

/*Advertisements*/

.adverts h2
{
  font-size: 60px;
  font-family: aemstelregular;
  text-align: center;
  margin-top: 50px;
  color: #000;
}

.adDesc
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.adDesc p
{
  text-align: center;
  font-family: aemstelregular;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.advertImage1, .advertImage2, .advertImage3
{
  display: flex;
  margin-bottom: 50px;
}

.img1, .img2, .img3
{
  float: left;
  height: auto;
  width: 33%;
  margin-left: 50px;
}

.img1:hover, .img2:hover, .img3:hover
{
  border-radius: 10px;
  transform: scale(.95);
  transition: transform .25s ease;
  cursor: pointer;
}

#dropDown, #dropDown2, #dropDown3
{
  background: #fff;
  display: none;
}


#dropDown p, #dropDown2 p, #dropDown3 p
{
  font-family: Arial;
  margin-left: 10px;
  margin-right: 200px; 
  margin-top: 80px;
  width: 525px;
  float: right;
  font-weight: bolder;

}

@media screen and (max-width: 907px;) {

  .adverts h2
  {
    font-size: 45px;
  }

}